@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
    margin:0;
    padding:0;  
}

.main{
    width:100%;
    height:100vh; 
}
.container{
    width:100%;
    height:90%;
    overflow-y: scroll;
}
.container::-webkit-scrollbar{
    display:none;
}
.header{
    display:flex;
    width:100%;
    height:7%;
}

.logo{
    width:75%;
}
.header p{
    font-family:'Grand Hotel';
    font-size:40px; 
    font-weight:500;
}
.header-icons{
    width:25%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.story-container{
    width:100%;
    height:20%;
    display:flex;
    overflow-x: scroll;
    align-items: center;
}
.story-container::-webkit-scrollbar{
    display:none;
}
.story{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:5px;
    width:150px;
    height:150px;
    flex:1 0 150px;
}
.story img{
    width:80%;
    height:80%;
    border-radius: 60%;
    border:3px solid #ff0000;
}
.story .name{
    margin-top: 3px;
    font-size: 20px;
}

.post-header{
    display:flex;
    width:100%;
    height:15%;
    
    
}
.profile-name{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    


}
.profile-name p{
    font-size: 20px;
}
.profile-name div{
    margin-right:10px;
}
.profile-pic{
    width:60px;
    height:60px;
    border-radius: 100%;
    
}
.profile-pic img{
    width:60%;
    height:60%;
    border-radius:100%;
    margin:5px;
    
}
.post-img img{
    width:100%;
}
.LCS-container{
    
    display:flex;
    justify-content: space-between;
    padding:10px;
}
.LCS{
    width:40%;
    display:flex;
    justify-content: space-between;
}
.like-tag{
    display:flex;
}
.like-tag-pic{
    width:20%;

}
.like-tag img{
    width:60%;
    border-radius:80px;
    margin:5px;

}
.LT-text{
    height:10%;
    padding-top: 18px;
}
.add-comment{
    display:flex;

}
.add-comment-pic{
    width:20%;
    margin-top:5px;
}
.add-comment img{
    width:60%;
    border-radius: 80px;
    
}
.comment{
   padding:10px;
   width:70%;

}
input{
    border-radius: 10px;
    padding:10px;
    border:none;
    width:60%;
}
.footer{
    width:100%;
    height:10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom:0;
    background-color:white ;
}
.profile img{
    width:45px;
    height:45px;
    border-radius: 40px;
    
}
.home img{
    width:40px;
    height:40px;
}
.search img{
    width:40px;
    height:40px;
}
.add img{
    width:40px;
    height:40px;
}
.reels img{
    width:40px;
    height:40px;
}
